In [2]:
import pandas as pd
import csv
import os
import matplotlib.pyplot as plt
import numpy as np
import gmaps

In [3]:
#emission data
emiss_csv = "Resources/cleaned_upollution_2005_2016.csv"
emiss_df = pd.read_csv(emiss_csv)

#determine earliest sample year
min_group = emiss_df.groupby(['State']).min()

#group.head()

#only states w data from '05 onward
states_df = min_group.loc[min_group['Sample Year'] == 2005].reset_index()
em_st = states_df['State']
#em_st

#pull only states w data from 05 from annual data
ann_emiss = emiss_df.groupby(['State', 'Sample Year']).mean().reset_index()

ann_emiss = ann_emiss[ann_emiss.State.isin(em_st)]

#ann_emiss.groupby(['State', 'Sample Year']).mean()

ann_emiss.groupby(['Sample Year']).mean()

,Sample Month,Average of NO2 Mean,Average of O3 Mean,Average of SO2 Mean,Average of CO Mean
Sample Year,,,,,
2005,6.473684,15.684710,0.025133,3.194487,0.445421
2006,6.479532,14.869245,0.025447,3.175568,0.439297
2007,6.263158,14.183081,0.024907,2.711292,0.406916
2008,6.372222,13.614705,0.024977,2.397886,0.369068
2009,6.531250,12.228444,0.024375,1.907799,0.329106
2010,6.372159,12.497743,0.026131,1.846468,0.352010
2011,6.468750,13.158366,0.026269,1.612835,0.324969
2012,6.525568,12.718307,0.027129,1.158833,0.324887
2013,6.676471,11.671299,0.025579,1.082886,0.278182
2014,6.722222,11.187337,0.025525,1.066207,0.275658
2015,6.520202,10.956970,0.025497,0.854490,0.282139
2016,2.294118,11.621863,0.026158,0.809190,0.298950

In [26]:
#carbon data
from numpy import int64

carb_csv = "Resources/CO2_by_state.csv"
carb_df = pd.read_csv(carb_csv)

carb_df.columns = carb_df.iloc[1]

carb_df.drop(carb_df.index[1], inplace=True)

carb_df.rename(columns={'Million metric tons of carbon dioxide':'State'}, inplace=True)

#same states and range of dates
carb_df = carb_df[carb_df.State.isin(em_st)]

carb_df = carb_df.drop(columns=['1990','1991','1992','1993','1994','1995','1996','1997','1998'])

carb_df = carb_df.drop(columns=['1999','2000','2001','2002','2003','2004'])

#sum states
carb_df['2005'] = pd.to_numeric(carb_df['2005'],errors ='coerce')
carb_df['2006'] = pd.to_numeric(carb_df['2006'],errors ='coerce')
carb_df['2007'] = pd.to_numeric(carb_df['2007'],errors ='coerce')
carb_df['2008'] = pd.to_numeric(carb_df['2008'],errors ='coerce')
carb_df['2009'] = pd.to_numeric(carb_df['2009'],errors ='coerce')
carb_df['2010'] = pd.to_numeric(carb_df['2010'],errors ='coerce')
carb_df['2011'] = pd.to_numeric(carb_df['2011'],errors ='coerce')
carb_df['2012'] = pd.to_numeric(carb_df['2012'],errors ='coerce')
carb_df['2013'] = pd.to_numeric(carb_df['2013'],errors ='coerce')
carb_df['2014'] = pd.to_numeric(carb_df['2014'],errors ='coerce')
carb_df['2015'] = pd.to_numeric(carb_df['2015'],errors ='coerce')
carb_df['2016'] = pd.to_numeric(carb_df['2016'],errors ='coerce')
carb_df['2017'] = pd.to_numeric(carb_df['2017'],errors ='coerce')

carb_df.loc['Total'] = carb_df.sum(numeric_only=True)

carb_dft = carb_df.T

carb_dft.columns = carb_dft.iloc[0]

carb_dft.drop(carb_dft.index[0], inplace=True)

#breaks here therefore cannot plot bc NaN col
carb_dft.rename(columns={'Nan':'Total'}, inplace=True)

carb_dft.head()

State,Arizona,California,Colorado,Florida,Illinois,Indiana,Kansas,Louisiana,Massachusetts,Michigan,Missouri,New Hampshire,New Jersey,New York,North Carolina,Oklahoma,Pennsylvania,Texas,NaN
1,,,,,,,,,,,,,,,,,,,
2005,97,382,95,260,243,234,72,223,84,190,141,21,128,208,154,106,278,686,3602
2006,100,390,96,258,235,232,72,233,76,179,139,19,121,190,149,109,273,687,3558
2007,102,395,99,256,242,231,80,237,80,181,138,19,128,197,154,109,276,680,3604
2008,102,380,97,238,241,227,74,240,76,175,135,19,126,187,149,111,268,644,3489
2009,93,366,93,223,225,204,72,222,70,164,129,17,109,171,133,105,242,610,3248

In [28]:
#GDP data
gdp_csv = "Resources/GDP_by_state.csv"
gdp_df = pd.read_csv(gdp_csv)

gdp_df = gdp_df.drop(columns=["GeoFips"])

#same states as above
gdp_df = gdp_df[gdp_df.GeoName.isin(em_st)]

#sum states
gdp_df.loc['Total']= gdp_df.sum(numeric_only=True)

gdp_df = gdp_df.groupby(gdp_df.columns.str.split(":").str[0], axis=1).sum()

gdp_dft = gdp_df.T

gdp_dft.columns = gdp_dft.iloc[15]

gdp_dft.drop(gdp_dft.index[15], inplace=True)

gdp_dft

GeoName,Arizona,California,Colorado,Florida,Illinois,Indiana,Kansas,Louisiana,Massachusetts,Michigan,Missouri,New Hampshire,New Jersey,New York,North Carolina,Oklahoma,Pennsylvania,Texas,0
2005,1.05224e+06,7.96056e+06,1.00336e+06,3.22535e+06,2.74359e+06,1.14197e+06,489031,982092,1.56317e+06,1.80298e+06,1.04612e+06,257426,2.05399e+06,4.6842e+06,1.62997e+06,572290,2.35222e+06,4.53118e+06,3.90918e+07
2006,1.10915e+06,8.28871e+06,1.0245e+06,3.33738e+06,2.81798e+06,1.16508e+06,515597,973330,1.59097e+06,1.77323e+06,1.05293e+06,263780,2.09622e+06,4.79962e+06,1.73036e+06,610636,2.36812e+06,4.84115e+06,4.03587e+07
2007,1.13963e+06,8.41447e+06,1.05831e+06,3.34347e+06,2.85084e+06,1.19769e+06,542669,938481,1.6319e+06,1.76459e+06,1.05753e+06,262792,2.10726e+06,4.8109e+06,1.74575e+06,621859,2.44807e+06,5.09721e+06,4.10334e+07
2008,1.10991e+06,8.44455e+06,1.07085e+06,3.21287e+06,2.79772e+06,1.19306e+06,554632,941105,1.6504e+06,1.66681e+06,1.08243e+06,260067,2.13222e+06,4.70188e+06,1.78768e+06,645446,2.49529e+06,5.10309e+06,4.085e+07
2009,1.02032e+06,8.10595e+06,1.04952e+06,3.03306e+06,2.73186e+06,1.1099e+06,533107,954664,1.63225e+06,1.52036e+06,1.06124e+06,257798,2.0446e+06,4.89292e+06,1.70843e+06,636943,2.42199e+06,5.08574e+06,3.98006e+07
2010,1.02994e+06,8.23255e+06,1.05916e+06,3.0648e+06,2.77984e+06,1.18053e+06,539778,989404,1.69833e+06,1.60377e+06,1.07894e+06,265766,2.06636e+06,5.07795e+06,1.73362e+06,636906,2.48987e+06,5.20691e+06,4.07344e+07
2011,1.05284e+06,8.36634e+06,1.07472e+06,3.05498e+06,2.82824e+06,1.18589e+06,554250,936251,1.73889e+06,1.64586e+06,1.0669e+06,267360,2.04371e+06,5.07698e+06,1.75635e+06,660612,2.52549e+06,5.37516e+06,4.12109e+07
2012,1.07316e+06,8.57799e+06,1.09408e+06,3.07724e+06,2.88281e+06,1.19021e+06,561911,934492,1.77732e+06,1.67543e+06,1.07505e+06,270757,2.07898e+06,5.28979e+06,1.75828e+06,693935,2.56527e+06,5.64551e+06,4.22222e+07
2013,1.0806e+06,8.88347e+06,1.13014e+06,3.13636e+06,2.89847e+06,1.21568e+06,562022,906464,1.77946e+06,1.69728e+06,1.08761e+06,275201,2.09334e+06,5.27719e+06,1.78145e+06,710406,2.60528e+06,5.88841e+06,4.30088e+07
2014,1.09471e+06,9.25016e+06,1.18279e+06,3.22111e+06,2.94014e+06,1.25496e+06,573702,934703,1.81554e+06,1.72604e+06,1.09268e+06,278179,2.10291e+06,5.39707e+06,1.82018e+06,750956,2.66598e+06,6.09223e+06,4.41941e+07
2015,1.12092e+06,9.71439e+06,1.23672e+06,3.3565e+06,2.97807e+06,1.2464e+06,584692,929830,1.88454e+06,1.76993e+06,1.1068e+06,286045,2.1412e+06,5.48865e+06,1.87792e+06,783608,2.72494e+06,6.38545e+06,4.56166e+07
2016,1.15692e+06,1.00038e+07,1.26701e+06,3.46692e+06,2.98867e+06,1.26654e+06,599712,913010,1.91584e+06,1.80908e+06,1.102e+06,291262,2.15977e+06,5.55872e+06,1.90136e+06,760439,2.75938e+06,6.40104e+06,4.63215e+07
2017,1.19762e+06,1.04427e+07,1.31829e+06,3.58447e+06,3.01455e+06,1.29098e+06,605863,925492,1.96336e+06,1.83652e+06,1.11277e+06,296475,2.17412e+06,5.67577e+06,1.94199e+06,766177,2.7747e+06,6.58506e+06,4.75069e+07
2018,1.24682e+06,1.08866e+07,1.36431e+06,3.69949e+06,3.0792e+06,1.3172e+06,618331,949489,2.02429e+06,1.88212e+06,1.1397e+06,303333,2.22302e+06,5.74254e+06,1.98933e+06,786098,2.84729e+06,6.85106e+06,4.89502e+07
2019,1.28573e+06,1.11681e+07,1.41231e+06,3.80304e+06,3.12808e+06,1.32816e+06,623777,961901,2.07487e+06,1.89544e+06,1.16382e+06,311491,2.2558e+06,5.84623e+06,2.0345e+06,805256,2.91207e+06,7.15411e+06,5.01647e+07

In [25]:
em_st

0                  Arizona
1               California
2                 Colorado
3     District Of Columbia
4                  Florida
5                 Illinois
6                  Indiana
7                   Kansas
8                Louisiana
9            Massachusetts
10                Michigan
11                Missouri
12           New Hampshire
13              New Jersey
14                New York
15          North Carolina
16                Oklahoma
17            Pennsylvania
18                   Texas
Name: State, dtype: object

In [ ]:
carbx = carb_dft[0]
carby = carb_dft["NaN"]
plt.plot(carbx, carby)
plt.show()