In [16]:
import pandas as pd 
import dask.dataframe as dd
import os
import scipy.stats as stats
from numpy import int64

In [17]:
#emission data
emiss_csv = "Resources/cleaned_upollution_2005_2016.csv"
emiss_df = pd.read_csv(emiss_csv)

#determine earliest sample year
min_group = emiss_df.groupby(['State']).min()

#group.head()

#only states w data from '05 onward
states_df = min_group.loc[min_group['Sample Year'] == 2005].reset_index()
em_st = states_df['State']
#em_st

#pull only states w data from 05 from annual data
ann_emiss = emiss_df.groupby(['State', 'Sample Year']).mean().reset_index()

ann_emiss = ann_emiss[ann_emiss.State.isin(em_st)]

#ann_emiss.groupby(['State', 'Sample Year']).mean()

ann_emiss = ann_emiss.groupby(['Sample Year']).mean()

ann_emiss

,Sample Month,Average of NO2 Mean,Average of O3 Mean,Average of SO2 Mean,Average of CO Mean
Sample Year,,,,,
2005,6.473684,15.684710,0.025133,3.194487,0.445421
2006,6.479532,14.869245,0.025447,3.175568,0.439297
2007,6.263158,14.183081,0.024907,2.711292,0.406916
2008,6.372222,13.614705,0.024977,2.397886,0.369068
2009,6.531250,12.228444,0.024375,1.907799,0.329106
2010,6.372159,12.497743,0.026131,1.846468,0.352010
2011,6.468750,13.158366,0.026269,1.612835,0.324969
2012,6.525568,12.718307,0.027129,1.158833,0.324887
2013,6.676471,11.671299,0.025579,1.082886,0.278182
2014,6.722222,11.187337,0.025525,1.066207,0.275658
2015,6.520202,10.956970,0.025497,0.854490,0.282139
2016,2.294118,11.621863,0.026158,0.809190,0.298950

In [24]:
emiss_df.info

<bound method DataFrame.info of            State  Sample Year  Sample Month          NO2 Units  \
0        Arizona         2005             1  Parts per billion
1        Arizona         2005             2  Parts per billion
2        Arizona         2005             3  Parts per billion
3        Arizona         2005             4  Parts per billion
4        Arizona         2005             5  Parts per billion
...          ...          ...           ...                ...
4018    Virginia         2016             2  Parts per billion
4019  Washington         2016             1  Parts per billion
4020     Wyoming         2016             1  Parts per billion
4021     Wyoming         2016             2  Parts per billion
4022     Wyoming         2016             3  Parts per billion

      Average of NO2 Mean           O3 Units  Average of O3 Mean  \
0               22.674850  Parts per million            0.010018
1               19.542680  Parts per million            0.015479
2               19.674832  Parts per million            0.024243
3               21.509326  Parts per million            0.031231
4               19.719337  Parts per million            0.031362
...                   ...                ...                 ...
4018             8.902051  Parts per million            0.025058
4019            14.730538  Parts per million            0.015901
4020             4.359764  Parts per million            0.037673
4021             2.610661  Parts per million            0.040319
4022             3.247965  Parts per million            0.039541

              SO2 Units  Average of SO2 Mean           CO Units  \
0     Parts per billion             1.215276  Parts per million
1     Parts per billion             0.678611  Parts per million
2     Parts per billion             1.245270  Parts per million
3     Parts per billion             1.787622  Parts per million
4     Parts per billion             2.313748  Parts per million
...                 ...                  ...                ...
4018  Parts per billion             0.498947  Parts per million
4019  Parts per billion             0.202716  Parts per million
4020  Parts per billion            -0.054836  Parts per million
4021  Parts per billion            -0.065226  Parts per million
4022  Parts per billion             0.018929  Parts per million

      Average of CO Mean
0               0.661753
1               0.466213
2               0.523486
3               0.605336
4               0.565971
...                  ...
4018            0.282484
4019            0.274327
4020            0.101135
4021            0.084270
4022            0.091466

[4023 rows x 11 columns]>

In [27]:
Year1 = emiss_df[emiss_df["Sample Year"] == 2007]
Year2 = emiss_df[emiss_df["Sample Year"] == 2010]

In [34]:
from scipy.stats import ttest_ind

ttest_ind(Year1["Average of NO2 Mean"], Year2["Average of NO2 Mean"])

Ttest_indResult(statistic=3.8486221100890963, pvalue=0.00013087470415294478)

In [31]:
Year1 = emiss_df[emiss_df["Sample Year"] == 2007]
Year2 = emiss_df[emiss_df["Sample Year"] == 2010]

In [33]:
stats.ttest_ind(Year1["Average of SO2 Mean"], Year2["Average of SO2 Mean"], equal_var=False)

Ttest_indResult(statistic=7.400755724292351, pvalue=4.86791088198715e-13)