In [28]:
import pandas as pd
import numpy as np
import matplotlib as plt
import us

In [47]:
employment_df = pd.read_csv("../Resources/stateemployment_monthly.csv")

employment_df.head()
cleaned_df = employment_df[["Series ID", "Year", "Period", "Value", "1-Month % Change"]]
cleaned2_df = cleaned_df.rename(columns = {"Series ID":"State","Period":"Month"})
cleaned2_df.head()
cleaned2_df["State"].unique()

array(['LASST010000000000003', 'LASST020000000000003',
       'LASST040000000000003', 'LASST050000000000003',
       'LASST060000000000003', 'LASST080000000000003',
       'LASST090000000000003', 'LASST100000000000003',
       'LASST110000000000003', 'LASST120000000000003',
       'LASST130000000000003', 'LASST150000000000003',
       'LASST160000000000003', 'LASST170000000000003',
       'LASST180000000000003', 'LASST190000000000003',
       'LASST200000000000003', 'LASST210000000000003',
       'LASST220000000000003', 'LASST230000000000003',
       'LASST240000000000003', 'LASST250000000000003',
       'LASST260000000000003', 'LASST270000000000003',
       'LASST280000000000003', 'LASST290000000000003',
       'LASST300000000000003', 'LASST310000000000003',
       'LASST320000000000003', 'LASST330000000000003',
       'LASST340000000000003', 'LASST350000000000003',
       'LASST360000000000003', 'LASST370000000000003',
       'LASST380000000000003', 'LASST390000000000003',
       'LASST400000000000003', 'LASST410000000000003',
       'LASST420000000000003', 'LASST440000000000003',
       'LASST450000000000003', 'LASST460000000000003',
       'LASST470000000000003', 'LASST480000000000003',
       'LASST490000000000003', 'LASST500000000000003',
       'LASST510000000000003', 'LASST530000000000003',
       'LASST540000000000003', 'LASST550000000000003',
       'LASST560000000000003'], dtype=object)

In [48]:
state = []
for x in np.arange(0,len(cleaned2_df)):
    cleaned2_df["Month"][x] = cleaned2_df["Month"][x].strip("M")
    cleaned2_df["State"][x] = cleaned2_df["State"][x].strip("LASST")
    state.append(cleaned2_df["State"][x][0:2])
    cleaned2_df["State"][x] = us.states.lookup(state[x])
    
        
cleaned2_df
#cleaned2_df.to_csv(r'../Resources/cleanedstateemployment_monthly.csv', index = False)

/Users/Axewave/opt/anaconda3/envs/PythonData2/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/Axewave/opt/anaconda3/envs/PythonData2/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/Axewave/opt/anaconda3/envs/PythonData2/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         State  Year Month  Value  1-Month % Change
0      Alabama  2000    01    4.7              -2.1
1      Alabama  2000    02    4.7               0.0
2      Alabama  2000    03    4.6              -2.1
3      Alabama  2000    04    4.6               0.0
4      Alabama  2000    05    4.5              -2.2
...        ...   ...   ...    ...               ...
12388  Wyoming  2019    11    3.7               0.0
12389  Wyoming  2019    12    3.7               0.0
12390  Wyoming  2020    01    3.7               0.0
12391  Wyoming  2020    02    3.7               0.0
12392  Wyoming  2020    03    3.7               0.0

[12393 rows x 5 columns]

In [49]:
len(cleaned2_df["State"].unique())

51

In [50]:
cleaned2_df.to_csv(r'../Resources/cleanedstateemployment_monthly.csv', index = False)